/* html {
  font-size: 62.5%;
} */

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#formHeader {
  color: #27173a;
  font-weight: bold;
  background: #af9cc4;
  text-decoration: none;
}

.lead {
  color: #27173a;
}

div .p-4 {
  color: #27173a;
}

form-label {
  color: #27173a;
  font-weight: bold;
}

#submit {
  color: #af9cc4;
  background: #27173a;
  font-weight: bold;
  font-size: 2rem;
  border: 2px solid white;
}

#submit:hover {
  border: 2px solid #27173a;
  background: #af9cc4;
  color: #27173a;
}

h4 {
  color: white;
}

.blog-footer {
  background: #af9cc4;
}

.currentDiv {
  display: flex;
  flex-direction: column;
  width: 95%;
}
